body{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}


header{
    width: 100% !important;
    text-align: center !important;
    padding-top: 0.2333333333rem !important;
    padding-bottom: 0.175rem !important;
    display: block !important;
    background-color: rgba(0,0,0,0.075);
    background-color: rgba(var(--fg), 0.075);
    color: #fbfbfb !important;
    color: rgba(var(--fg), 1) !important;
    backdrop-filter: blur(1.5rem);


}


.video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
}